rank-bm25==0.2.2
sentence-transformers==5.4.0
faiss-cpu==1.13.2
streamlit==1.56.0
python-dotenv==1.2.2
pandas==2.3.3
jupyterlab==4.4.9
ipykernel==6.30.1
playwright==1.56.0
numpy==2.4.1
matplotlib==3.9.1
seaborn==0.13.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-raises==0.11
pytest-randomly==4.0.1
pytest-xdist==3.8.0
pytest-playwright==0.7.2
black==26.1.0
isort==8.0.1
ruff==0.15.10
pre-commit==4.5.1
