rank-bm25
sentence-transformers
faiss-cpu
streamlit
python-dotenv
pandas
jupyterlab
ipykernel
playwright
numpy
matplotlib
seaborn
pytest
pytest-cov
pytest-raises
pytest-randomly
pytest-xdist
pytest-playwright
black
isort
ruff
pre-commit
